.container {
  border: 2px solid;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

}

.display {
  /* background-color: rgb(255, 255, 125); */
  width: 150px;
  height: 150px;
  border: 2px solid;
  border-radius: 75px;
  margin: 40px;
  text-align: center;
}

h1 {
  margin: 50px 0;
}

.button-div {
  text-align: center;
}
.button {
  height: 40px;
  width: 40px;
  margin: 20px;
}

.cold {
  background-color: rgba(57, 133, 246, 0.968);
}

.hot {
  background-color: orangered;
}
